NODE_ENV=development
PORT=3000

MONGO_URI=

SESSION_SECRET=

ADMIN_EMAIL=
ADMIN_PASSWORD=

TEACHER_NAME=
TEACHER_USERNAME=
TEACHER_EMAIL=
TEACHER_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback
