MONGODB_URI=
SESSION_SECRET=
NODE_ENV=production
PORT=3000
ADMIN_EMAIL=
ADMIN_PASSWORD=
TEACHER_NAME=
TEACHER_USERNAME=
TEACHER_EMAIL=
TEACHER_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
